* {
	/* These will reset the behaviour of padding so your width doesn't get bigger if you add padding */
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

html, body{
	margin: 0;
	padding: 0;
}

.container1{
	width: 50%;
	margin: 100px 25%;
	height: 400px;
	background-color: lightyellow;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

.flex1{
	width:150px; 
	height:150px;
	background-color: lightpink;
}

.flex2{
	width:200px; 
	height:200px;
	background-color: lightblue;
	border-radius: 50%;
	margin-top: -50px;

}

.container2{
	width: 50%;
	margin: 100px 25%;
	height: 400px;
	background-color: lightyellow;
	margin: 0px 25%;
	position: relative;
}


.item1{
	width:150px; 
	height:150px;
	background-color: lightpink;
	position: absolute;
	left: 50%;
	margin-left: -75px; /*50% left/top and then negative half width to get to center*/
	top: 50%;
	margin-top: -75px;

}
.item2{
	width:200px; 
	height:200px;
	background-color: lightblue;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	margin-left: -100px; /*50% left/top and then negative half width*/
	top: 50%;
	margin-top: -100px;
}

.container3{
	background-color: lightgreen;
	height: 100vh;
	padding: 50px;
}
.container4{
	background-color: lightgrey;
	height: 600px;
	padding: 50px;
}

.sticky{
	font-family: sans-serif;
	margin: 0px;
	position: sticky;
	position: -webkit-sticky;
	top: 100px;
}






